.course {
  display: grid;
  grid-template-columns: 90% auto;
  height: 50px;
  align-content: center;
  border: 1px solid black;
  background-color: lightgray;
}
.course .name {
  margin-left: 10px;
}
